.form-label {
  font-weight: bold;
}

.form-btn {
  margin-top: 1rem;
}

#inputSpouses input,
#inputStates input,
#inputDestinations input,
#inputCars input {
  border-color: var(--Pink);
}

#inputSpouses label,
#inputStates label,
#inputDestinations label,
#inputCars label {
  color: var(--Pink);
}

#inputAnimals input,
#inputCareers input,
#inputColors input,
#inputNames input {
  border-color: var(--LimeGreen);
}

#inputAnimals label,
#inputCareers label,
#inputColors label,
#inputNames label {
  color: var(--LimeGreen);
}

#inputSalaries input,
#inputKids input,
#inputSchools input {
  border-color: var(--Purple);
}

#inputSalaries label,
#inputKids label,
#inputSchools label {
  color: var(--Purple);
}

.nextStory {
  margin: 12rem;
}
