* {
  text-align: center;
  box-sizing: border-box;
  padding: 0;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 1.1rem;
}

:root {
  --Blue: #1da3c1;
  --LimeGreen: #89e002;
  --Purple: #72018a;
  --Pink: #f20384;
  --Yellow: #fdfc03;
}

.blue-btn {
  background-color: var(--Blue) !important;
  color: white;
  border-color: var(--Blue) !important;
}

.input-form {
  padding-top: 3.125rem;
  padding-bottom: 12.5rem;
  margin-top: 6rem;
  scroll-margin-top: 12rem;
}

.vh-50 {
  height: 50vh;
}

.vh-75 {
  height: 75vh;
}

.vw-50 {
  width: 50vh;
}
